.advantages {
  margin-bottom: 26px;

  @media (min-width: 768px) {
    margin-bottom: 41px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 43px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0 18px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 21px;
    margin-bottom: 31px;
    padding: 0 150px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 28px;
    padding: 0 250px;
  }
}

.advantages__text {
  margin: 0;
  margin-bottom: 37px;
  padding: 0 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;

  @media (min-width: 768px) {
    margin-bottom: 54px;
    padding: 0 100px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 46px;
    padding: 0 250px;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    min-height: 0;
  }
}

.advantages-list__item--image-city {
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 37px;
    right: 50%;
    top: -22px;
    transform: translate(50%, 0);
    background: url("../img/triangle.svg") no-repeat;
    z-index: 2;

    @media (min-width: 410px) {
      background: none;
    }
  }
}

.advantages-list__item--image-mountains {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages-item__image {
  display: block;
  width: 100%;

  @media (min-width: 768px) {
    object-fit: cover;
    min-height: 100%;
  }
}

.advantages-item__wrapper {
  @media (min-width: 768px) {
    box-sizing: border-box;
    padding: 41px 33px 63px;
  }

  @media (min-width: 768px) {
    padding: 43px 33px 37px;
  }

  @media (min-width: 1200px) {
    padding: 53px 50px 25px;
  }
}

.advantages-item__wrapper--image {
  text-align: center;
  color: #ffffff;

  @media (min-width: 768px) {
    flex-shrink: 0;
    box-sizing: border-box;
    width: 33.3vw;
    padding: 52px 33px 31px;
  }

  @media (min-width: 1200px) {
    max-width: 399px;
    padding: 52px 50px;
  }
}

.advantages-item__title {
  margin: 0;
  padding: 49px 25px 11px 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    margin-bottom: 13px;
    padding: 0 15px;
    font-size: 21px;
  }

  @media (min-width: 1025px) {
    padding: 0 60px;
  }

  @media (min-width: 1200px) {
    padding: 0 75px;
  }

  &--other {
    padding: 0 35px;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      margin-bottom: 14px;
    }

    @media (min-width: 875px) {
      padding: 0 55px;
    }

    @media (min-width: 1005px) {
      padding: 0 75px;
    }

    @media (min-width: 1115px) {
      padding: 0 95px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 12px;
    }
  }
}

.advantages-item__title--bridge {
  padding-top: 37px;

  @media (min-width: 768px) {
    padding-top: 0;
  }
}

.advantages-item__span {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: 768px) {
    margin-bottom: 21px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 23px;
  }
}

.advantages-item__text {
  margin: 0;
  padding: 19px 40px 38px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    padding: 0;
  }

  @media (min-width: 1200px) {
    padding: 0 10px;
  }
}

.advantages-item__text--bridge {
  padding-top: 17px;

  @media (min-width: 768px) {
    padding-top: 0;
  }
}

.advantages-item__text--square {
  padding-bottom: 23px;
}

.advantages-item__text--road {
  padding-bottom: 25px;
}

.advantages-item__text--tourists {
  padding-bottom: 27px;
}

.advantages-item__features {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.advantages-list__item--other-line {
  position: relative;
  padding-top: 24px;
  text-align: center;
  background-color: #eeeeee;

  @media (min-width: 768px) {
    width: 33.33%;
    padding: 0;
  }

  &::after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    min-width: 284px;
    width: 90%;
    height: 1px;
    content: "";
    background-color: #bababa;

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.advantages-list__item--other {
  padding-top: 24px;
  text-align: center;
  background-color: #eeeeee;

  @media (min-width: 768px) {
    width: 33.33%;
    padding: 0;
  }
}

.advantages-item__container {
  background-color: #81b3d2;

  @media (min-width: 768px) {
    display: flex;
    width: 100%;
  }
}

.advantages-item__container-revers {
  background-color: #81b3d2;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
}
