.advantages {
  margin-bottom: 20px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0 18px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__text {
  margin: 0;
  margin-bottom: 16px;
  padding: 0 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    min-height: 0;
  }
}

.advantages-list__item--image-city {
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 37px;
    right: 50%;
    top: -22px;
    transform: translate(50%, 0);
    background: url("../img/triangle.svg") no-repeat;
    z-index: 2;

    @media (min-width: 768px) {
      background: none;
    }
  }
}

.advantages-list__item--image-mountains {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages-item__image {
  display: block;
  width: 100%;

  @media (min-width: 768px) {
    min-height: 256px;
    object-fit: cover;
  }
}

.advantages-item__wrapper {
  @media (min-width: 768px) {
    box-sizing: border-box;
    height: 256px;
    padding: 41px 33px 63px;
  }

  @media (min-width: 1200px) {
    padding: 52px 50px 52px;
  }
}

.advantages-item__wrapper--image {
  text-align: center;
  color: #ffffff;

  @media (min-width: 768px) {
    box-sizing: border-box;
    min-width: 256px;
    width: 33.33%;
    padding: 52px 33px 31px;
  }

  @media (min-width: 1200px) {
    padding: 52px 50px 51px;
  }
}

.advantages-item__title {
  margin: 0;
  padding: 54px 25px 11px 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    margin-bottom: 15px;
    padding: 0 15px;
    font-size: 21px;
  }

  @media (min-width: 1025px) {
    padding: 0 60px;
  }

  @media (min-width: 1200px) {
    padding: 0 75px;
  }

  &--other {
    padding: 0 35px;

    @media (min-width: 875px) {
      padding: 0 55px;
    }

    @media (min-width: 1005px) {
      padding: 0 75px;
    }

    @media (min-width: 1115px) {
      padding: 0 95px;
    }
  }
}

.advantages-item__span {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.advantages-item__text {
  margin: 0;
  padding: 17px 25px 40px 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    margin-top: 20px;
    padding: 0;
  }
}

.advantages-item__features {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.advantages-list__item--other-line {
  position: relative;
  min-height: 168px;
  padding-top: 24px;
  text-align: center;
  background-color: #eeeeee;

  @media (min-width: 768px) {
    width: 33.33%;
  }

  &::after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    min-width: 284px;
    width: 90%;
    height: 1px;
    content: "";
    background-color: #bababa;

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.advantages-list__item--other {
  min-height: 168px;
  padding-top: 24px;
  text-align: center;
  background-color: #eeeeee;

  @media (min-width: 768px) {
    width: 33.33%;
  }
}

.advantages-item__container {
  background-color: #81b3d2;

  @media (min-width: 768px) {
    display: flex;
    width: 100%;
  }
}

.advantages-item__container-revers {
  background-color: #81b3d2;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
}
