.features-list {
  margin-bottom: 44px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.features-list__item {
  padding-top: 33px;
  padding-left: 48px;

  @media (min-width: 768px) {
    box-sizing: border-box;
    width: 33.33%;
    margin: 0;
    padding: 64px 33px;
  }

  @media (min-width: 768px) {
    padding: 62px 33px;
  }

  @media (min-width: 1200px) {
    padding: 71px 50px;
  }

  &--house {
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    background-position: 18px 23px;

    @media (min-width: 768px) {
      background-image: url("../img/icon-house-tablet.svg");
      background-position: center 60px;
    }

    @media (min-width: 1200px) {
      background-image: url("../img/icon-house-tablet.svg");
      background-position: center 72px;
    }
  }

  &--food {
    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    background-position: 18px 23px;

    @media (min-width: 768px) {
      background-image: url("../img/icon-burger-tablet.svg");
      background-position: center 63px;
    }

    @media (min-width: 1200px) {
      background-image: url("../img/icon-burger-tablet.svg");
      background-position: center 77px;
      padding: 69px 50px;
    }
  }

  &--souvenirs {
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: 18px 23px;

    @media (min-width: 768px) {
      background-image: url("../img/icon-gift-tablet.svg");
      background-position: center 58px;
    }

    @media (min-width: 1200px) {
      background-image: url("../img/icon-gift-tablet.svg");
      background-position: center 72px;
      padding: 69px 50px;
    }
  }
}

.features-list__title {
  margin: 0;
  margin-bottom: 16px;
  padding: 0 18px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    padding-top: 90px;
    margin-bottom: 27px;
    font-size: 21px;
    text-align: center;
  }

  @media (min-width: 1200px) {
    margin-bottom: 20px;
    padding-top: 100px;
  }
}

.features-list__text {
  margin: 0;
  padding-left: 17px;
  padding-right: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;

  @media (min-width: 768px) {
    padding: 0 5px;
    text-align: center;
  }
}
