.foto-module__image {
  margin-bottom: 9px;

  @media (min-width: 768px) {
    margin: 0;
    width: 324px;
  }

  @media (min-width: 1200px) {
    display: block;
    width: 400px;
  }
}

.foto-module__title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    padding-top: 10px;
  }

  @media (min-width: 1200px) {
    padding-left: 1px;
    padding-top: 2px;
  }
}

.foto-module__text {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;

  @media (min-width: 1200px) {
    margin: 0;
    padding-top: 2px;
    padding-left: 2px;
    color: #ffffff;
  }
}

.foto-module__wrapper {
  width: 100%;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
  }

  @media (min-width: 1200px) {
    position: absolute;
    bottom: 0;
    height: 80px;
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
}

.foto-module__likes {
  displa: flex;
  background: url("../img/like-icon.svg") no-repeat;
  background-position: 0 0;
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: 768px) {
    background-position: 10px -1px;
  }

  @media (min-width: 1200px) {
    background: url("../img/like-icon-white.svg") no-repeat;
    background-position: 115px 0;
    color: #ffffff;
  }
}

.foto-module__likes-value {
  margin-left: 31px;
  padding-top: 5px;
  background: none;
  border: none;
  font-family: "PT Sans", sans-serif, "Arial";
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;

  @media (min-width: 768px) {
    margin-right: 14px;
  }

  @media (min-width: 1200px) {
    margin-left: 142px;
    color: #ffffff;
  }
}

.foto-module__likes-value--first {
  @media (min-width: 1200px) {
    margin-left: 957px;
  }
}

.foto-module__image--first {
  @media (min-width: 768px) {
    width: 100%;
  }
}

.foto-module--first {
  @media (min-width: 768px) {
    width: 100%;
  }
}

.foto-module__title-wrapper {
  @media (min-width: 768px) {
    margin-left: 20px;
  }

  @media (min-width: 1200px) {
    margin-left: 24px;
    padding-top: 2px;
  }
}

.foto-module__title-wrapper--first {
  @media (min-width: 1200px) {
    margin-left: 20px;
  }
}

.likes-first {
  @media (min-width: 1200px) {
    background-position: 930px 0;
  }
}

.foto-module--first::before {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -25px;
  width: 115%;
  height: 1px;
  content: "";
  background-color: #e5e5e5;

  @media (min-width: 768px) {
    height: 0;
  }
}
