.header {
  min-height: 56px;
  position: relative;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.header__logo:hover {
  opacity: 70%;
}

.header__logo:active {
  opacity: 50%;
}

.header__nav {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 100%;
  min-width: 320px;

  @media (min-width: 768px) {
    display: inline-block;
    background-color: #ffffff;
    z-index: 0;
  }
}
