.header {
  min-height: 56px;
  position: relative;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.header__nav {
  display: flex;
  min-width: 320px;

  @media (min-width: 768px) {
    display: inline-block;
    width: 100%;
  }
}
