.video {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.video__wrapper {
  min-width: 266px;
  margin: 0 20px;


  @media (min-width: 768px) {
    margin: 0 60px;
    text-align: center;
  }
}

.video__title {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.video__text {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.video__link-wrapper {
  min-width: 280px;
  margin: 0 auto;
}

.video__preview {
  width: 100%;

  @media (min-width: 768px) {
    max-width: 800px;
  }

  @media (min-width: 1200px) {
    width: 800px;
  }
}
